<div class="container">

  <h1>Things: </h1>

  <div class="grid-items">
    <a href="javascript:void(0)" class="grid-item" ng-repeat="thing in awesomeThings">
      <h1>{{thing.name}}</h1>
      <p>{{thing.info}}</p>
    </a>
  </div>




  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing(newThing)">Add New</button>
      </span>
    </p>
  </form>

  <button ng-click="loadMore()">Load More</button>

</div>
